# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.joblib

# Virtual env
.venv/
env/
venv/

# Data
data/raw/
data/processed/
*.csv
*.xlsx

# Models
model/
*.h5
*.onnx

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
